ul {
    margin-left: 0;
    color: rgb(255, 0, 0);
}

.first-item-class {
    color: rgb(0, 255, 0);
}

#first-item-id {
    color: rgb(4, 0, 255);
}

#second-item-id {
    color: rgb(230, 0, 255);
}
